
body {
    background: #615F60;
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
    height: auto;
}

.card {
    background-color: var(--card-light-color, #fff);
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

 .card {
    background-color: var(--card-body-color, #595959);
    color: white;
    outline: none;
    border: none;
}

/* Dark mode styles for header */
 header,
 .navbar {
    background-color: #595959 !important;
    color: #ffffff;
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

 .navbar a,
 .content-text {
    color: #ffffff !important;
}

/* Base button style (optional for custom look) */
.NEO-button {
    background-color: #f0f0f0;
    color: #000;
    border: none;
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

/* Dark theme style */
 .NEO-button {
    background-color: #737373;
    color: #c8c8c8;
    border: 1px solid #737373;
}

body .hamburger-btn {
    color: #fff;
}

 .NEO-button.active {
    background-color: #008000 !important;
    color: #c8c8c8 !important;
}

body .hamburger-btn i {
    color: #fff;
}

.tooltip-icon {
    color: #fff !important;
}